<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
</head>
<body>
    <img width="100" height="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Go_gopher_favicon.svg/1200px-Go_gopher_favicon.svg.png" />
    <form method="post" action="/search">
        <label>
            <p>Поиск по вопросу:</p>
            <input id="text" name="text" required value="{{ .Text }}">
        </label>
        <button type="submit">Поиск</button>
    </form>
    <hr>
    {{ range .Matches }}
        {{ . }}
    {{ end }}
<script>
    window.onload = () => {
        const input = document.getElementById("text");
        input.focus();
        const val = input.value;
        input.value = '';
        input.value = val;
    }
</script>
</body>
</html>